<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <title>Edit</title>
</head>
<body>
    <form action="./update">
        <div>제목 :</div>
        <div><input type="text" name="title" value="{{ m.title }}"/></div>
        <div>제목(영어) :</div>
        <div><input type="text" name="title_en" value="{{ m.title_en }}"/></div>
        <div>누적 관객수 :</div>
        <div><input type="number" name="audience" value="{{ m.audience }}"/></div>
        <div>개봉일 :</div>
        <div><input type="date" name="open_date" value="{{ m.open_date }}"/></div>
        <div>장르 :</div>
        <div><input type="text" name="genre" value="{{ m.genre }}"/></div>
        <div>관람등급 :</div>
        <div><input type="text" name="watch_grade" value="{{ m.watch_grade }}"/></div>
        <div>평점 :</div>
        <div><input type="number" name="score" min="0" max="5" value="{{ m.score }}"/></div>
        <div>포스터 이미지 URL :</div>
        <div><input type="text" name="poster_url" value="{{ m.poster_url }}"/></div>
        <div>영화소개 :</div>
        <div><textarea rows="4" cols="50" name="description">{{ m.description }}</textarea></div>
        <input type="submit" value="Submit"/>
    </form>
</body>
</html>